@import "tailwindcss";

/* Custom Scrollbar Hide Utility */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    @apply bg-gray-50 text-gray-900 font-sans;
}